/*最新消息輪播*/
.round{
  background-image: url("public/images/bg2.jpg");
  margin-top: -80px;
  margin-bottom: -80px;
  padding-bottom: 40px;
}
.roundtitle,
.servicetitle {
  margin-top: 10vh;
}

.news {
  font-size: xx-large;
  color: #d9d1c4;
  margin-top: 10px;
  margin-left: 31vh;
  font-weight: 1000;
}

.slider {
  margin: 10vh 30vh;
}

.newsimg img {
  max-width: 100%;
  max-height: auto;
  margin: auto 5%;
  width: 80%;
  height: 20rem;
}

.slick-next {
  right: 0px;
}

.newsimg h4 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #d9d1c4;
  font-weight: bold;
  margin-left: 5%;
}

.newsimg h2 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #d9d1c4;
  font-weight: bold;
  margin-left: 1.5%;
}

@media screen and (max-width: 576px){
  .slider {
    margin: 10vh 10vh;
  }  
}